{% extends "agency/base.html" %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    <h1>Posts page</h1>
    <a href="{% url 'agency:adv_create_page' %}" class="btn btn-outline-info mt-3 mb-3">Create new advetrisement</advert></adv></a>

    {% for adv in advertisements %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ adv.adv_pic.url }}" class="img-fluid rounded-start" alt="Advertisement picture">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'agency:adv_page' adv.id %}">Name: {{ adv.name }}</a></h5>
                <p class="card-text">Age: {{  adv.age }} years</p>
                <p class="card-text">Breed: {{ adv.breed }}</p>
                <p class="card-text">Owner: {{ adv.owner }}</p>
                <p class="card-text"><small class="text-body-secondary">Adv date: {{ adv.date_posted|date:"d F Y" }}</small></p>

                <a href="{% url 'agency:adv_update_page' adv.id %}" class="btn btn-outline-info mt-3">Update</a>
                <a href="{% url 'agency:adv_delete_page' adv.id %}" class="btn btn-outline-danger mt-3">Delete</a>

              </div>
            </div>
          </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}

{% endblock content %}
