{% extends "agency/base.html" %}

{% block title %}
    Register
{% endblock title %}

{% block content %}
    <form method="POST" action="">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 mt-4">Register !</legend>

            <div class="form-group">
                <i class="bi bi-person fs-5"></i>
                <label class="form-control-label mt-3 ms-3">Usename</label>
                <input class="form-control form-control-lg" type="user_name" name="user_name" id="user_name" required/>
            </div>

            <div class="form-group">
                <i class="bi bi-envelope fs-5"></i>
                <label class="form-control-label mt-3 ms-3">Email</label>
                <input class="form-control form-control-lg" type="email" name="email" id="email" required/>
            </div>

            <div class="form-group">
                <i class="bi bi-key fs-5"></i>
                <label class="form-control-label mt-3 ms-3">Password</label>
                <input class="form-control form-control-lg" type="password" name="password" id="password" required/>
            </div>

            <div class="form-group">
                <i class="bi bi-key fs-5"></i>
                <label class="form-control-label mt-3 ms-3">Confirm Password</label>
                <input class="form-control form-control-lg" type="password" name="pass_confirm" id="pass_confirm" required/>
            </div>
        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-info mt-3">Register</button>
        </div>

    </form>


    <div class="borde-top pt-3">
        <small class="text-muted">
            Alreadu have an accout ? <a class="ml-2" href="{% url 'user:login_page' %}">Log in</a>
        </small>
    </div>
{% endblock content %}
